@use './partials/variables' as *;
@import 'bootstrap/scss/bootstrap';

body{
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

.container{
  
    padding-left: 5%;
    padding-right: 5%;
  
}